<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Select the desired option:
    <br>
    <a href="/createdefaultcluster"><button >Create Cluster with Default</button></a>   
    <a href="/createadvancecluster"><button >Go to Advance Form</button></a>
    
    <a href="/defaultcost"><button >Default Cluster Cost Analysis</button></a>
    <a href="/findcost"><button >Custom Cost Analysis</button></a>
   
</body>
</html>